@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

body {
    background:#F2F2F2;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
}

.navbar {
    background: white;
    padding: 1em;

    .logo {
        text-decoration: none;
        font-weight:bold;
        color: rgb(240, 226, 29);
        font-size: 1.2em;

        span {
            color: rgb(113, 76, 155);
        }
    }

    nav {
        display: none;
    }

    .container {
        display: flex;
        place-content: space-between;
    }

    .mobile-menu {
        cursor: pointer;
    }
}

a {
    color: #444444;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

section {
    padding: 5em 2em;
}

.first-block {
    text-align: center;

    .container {
        h2 {
            margin: 3em;
        }

        .forms {
            margin: .1em;
        
            img {
                width: 20%;
                height: 20%
            }
        
            [type=radio] {
                position:absolute;
                opacity:0;
                width: 0;
                height: 0;
            }
        
            [type=radio] + img {
                cursor: pointer;
            }
        
            [type=radio]:checked + img {
                outline: 2px solid rgb(113, 76, 155);
            }
        
            [type=submit] {
                background:rgb(113, 76, 155);
                width: 40%;
                color: white;
                text-decoration: none;
                padding: .3em .6em;
                font-size: 1.4em;
                border-radius: 2em;
                font-weight: bold;
                display: inline-block;
            }
        }
        
        input {
            width: 76%;
            padding: .4em;
            margin-bottom: .5em;
            border-radius: .3em;
            border: 1px solid rgb(207, 207, 207);
            box-sizing: border-box;
        }
        
        textarea {
            width: 100%;
            height: 60px;
            resize: none;
            padding: .3em;
            margin-bottom: 1em;
            border-radius: .3em;
            border: 1px solid rgb(160, 160, 160);
            box-sizing: border-box;
        }
    }
}



.leftcol {

    .subhead {
        text-transform: uppercase;
        font-weight: bold;
        color: gray;
        letter-spacing: .3em;
    }

    h1 {
        font-size: 2.5em;
        line-height: 1.3em;
        margin-top: .2em;
    }

    .get-post {
        background:rgb(113, 76, 155);
        color: white;
        text-decoration: none;
        padding: .6em 1.3em;
        font-size: 1.4em;
        border-radius: 5em;
        font-weight: bold;
        display: inline-block;
    }

    .get-feed {
        display: block;
        margin-top: 1em;
    }
}

.hbd-img {
    width: 70%;
    margin-top: 3em;
}

.second-block {
    background:rgb(233, 225, 109);
    color: white;

    li {
        background: rgb(113, 76, 155);
        text-align: center;
        padding: 2em 1em;
        width: 80%;
        margin: 0 auto 5em auto;
        border-radius: 1em;
    }
}

iframe {
    width: 100%;
    height: 300px;
}

nav.menu-btn {
    display: block;
}

nav {
    position: fixed;
    z-index: 999;
    width: 66%;
    right: 0;
    top: 0;
    background:rgb(113, 76, 155);
    height: 100vh;
    padding: 1em;

    ul.first-nav {
        margin-top: 5em;
    }

    ul {

        a {
            color: white;
            text-decoration: none;
            display: block;
            padding: .5em;
            font-size: 1.3em;
            text-align: right;

            &:hover {
                font-weight: bold;
            }
        }
    }
}

.mobile-menu-exit {
    float: right;
    margin: .5em;
    cursor: pointer;
}

@media only screen and (min-width: 768px) {

    .mobile-menu, .mobile-menu-exit {
        display: none;
    }

    .navbar .container {
        display: grid;
        grid-template-columns: 180px auto;
        justify-content: unset;
    }

    .navbar nav {
        display: flex;
        justify-content: space-between;
        background: none;
        position: unset;
        height: auto;
        width: 100%;
        padding: 0;

        ul {
            display: flex;
        }

        a {
            color: black;
            font-size: 1em;
            padding: .1em 1em;
        }

        ul.first-nav {
            margin: 0;
        }

        li.current a {
            font-weight: bold;
        }

        ul.second-nav a {
            color:rgb(113, 76, 155);
            border: 3px solid rgb(113, 76, 155);
            font-weight: bold;
            border-radius: 5em;
            margin-top: -.2em;

            &:hover {
                background: rgb(113, 76, 155);
                color: white;
            }
        }
    }
}

@media only screen and (min-width: 1080px) {
    .container {
        width: 1080px;
        margin: 0 auto;
    }

    section {
        padding: 10em 4em;
    }

    .first-block .container {
        display: flex;
        justify-content: space-between;
        text-align: left;
    }

    .leftcol {
        margin: 3em 3em 0 5em;

        h1 {
            font-size: 3em;
            width: 90%;
        }
    }

    .hbd-img {
        width: 30%;
        margin-right: 8em;
    }

    .button-ways {
        display: flex;
    }

    .get-post {
        margin-right: 1em;
    }

    .second-block ul {
        display: flex;

        li {
            margin: 0 1em;
        }
    }

    iframe {
        height: 100%;
    }
}